* {
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

@media all and (min-width: 576px) {
  * {
    font-size: 14px;
  }
}

@media all and (min-width: 992px) {
  * {
    font-size: 16px;
  }
}

#popup-background {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 1em;

  width: 100%;
  max-width: 992px;
  height: 25em;

  grid-template-columns: 1fr 1fr;
  gap: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}

#popup > * {
  display: grid;
  place-items: center;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;
}

#popup > .english {
  background-color: pink;
  color: white;
}

#popup > .korean {
  background-color: white;
  color: black;
}

#main {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

#main > #inner-container {
  width: 100%;
  max-width: 992px;
  height: 100%;
  padding: 5em 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 5em;
}

#main > #inner-container > #main-title {
  text-transform: uppercase;
  font-size: 5em;
}

#main > #inner-container > #main-options {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

#main > #inner-container > #main-options > .option {
  font-size: 2em;
  text-transform: uppercase;
  padding: 1em 0;
  border-radius: 1em;
}

#main > #inner-container > #main-options > .red {
  background: red;
  background: radial-gradient(
    circle,
    red 0%,
    red 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

#main > #inner-container > #main-options > .orange {
  background: orange;
  background: radial-gradient(
    circle,
    orange 0%,
    orange 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

#main > #inner-container > #main-options > .yellow {
  background: yellow;
  background: radial-gradient(
    circle,
    yellow 0%,
    yellow 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

#button-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: fit-content;
}

#button-container > a {
  color: black;
  font-size: 3em;
  text-decoration: none;
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 80%;
  min-height: 100px;
  background-color: lightgreen;
  border-radius: 0.25em;
  border: 5px solid black;
  cursor: pointer;
}

#learn-title {
  font-size: 3.5em;
}

#learn-intro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

#learn-intro > .intro {
  font-size: 1.275em;
  display: grid;
  place-items: center;
  background: pink;
  background: radial-gradient(
    circle,
    pink 0%,
    pink 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

#words {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

#words > .word {
  width: 100%;
  height: 10em;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
}

#words > .word > * {
  display: grid;
  place-items: center;
  text-transform: uppercase;
  font-size: 1.275em;
  font-weight: 500;
}

#words > .word > .english {
  background-color: pink;
  color: white;
}

#sentences {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

#sentences > .sentence {
  width: 100%;
  height: 7.5em;
  border-radius: 1em;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
}

#sentences > .sentence > * {
  display: grid;
  place-items: center;
  text-transform: uppercase;
  font-size: 1.275em;
  font-weight: 500;
}

#sentences > .sentence > .english {
  background-color: pink;
  color: white;
}
