* {
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

@media all and (min-width: 576px) {
  * {
    font-size: 14px;
  }
}

@media all and (min-width: 992px) {
  * {
    font-size: 16px;
  }
}

#main {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

#main > #inner-container {
  width: 100%;
  max-width: 992px;
  height: 100%;
  padding: 5em 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 5em;
}

#main > #inner-container > #main-title {
  text-transform: uppercase;
  font-size: 5em;
}

#main > #inner-container > #main-options {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

#main > #inner-container > #main-options > .option {
  font-size: 2em;
  text-transform: uppercase;
  padding: 1em 0;
  border-radius: 1em;
}

#main > #inner-container > #main-options > .red {
  background: red;
  background: radial-gradient(
    circle,
    red 0%,
    red 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

#main > #inner-container > #main-options > .orange {
  background: orange;
  background: radial-gradient(
    circle,
    orange 0%,
    orange 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

#main > #inner-container > #main-options > .yellow {
  background: yellow;
  background: radial-gradient(
    circle,
    yellow 0%,
    yellow 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

#button-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: fit-content;
}

#button-container > button {
  font-size: 3em;
  width: 100%;
  max-width: 80%;
  min-height: 100px;
  background-color: lightgreen;
  border-radius: 0.25em;
  border: 5px solid black;
}
