{% extends "layout.html" %} {% block content %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'welcome.js') }}"
></script>

<div class="ycintro">
  This website supports text-to-speech not only for the learning material, but
  for the entire website.
</div>

<div class="ycintro">
  <b
    >Learn different languages so you can enhance your travels or
    relationships!</b
  >
</div>

<div class="yccontainer1">
  <div class="row">
    <div id="ycblock1" class="col-md-6">
      <div class="ycblueblock">Start Learning</div>
      <div class="ycmiddle">Choose a language!</div>
      <div class="ycmiddle">
        <div>
          <div class="ycinline">
            <form class="ycform" action="/language/korean">
              <input class="ycbutton" type="submit" value="Korean" />
            </form>
          </div>

          <div class="ycinline">
            <form class="ycform" action="/language/french">
              <input class="ycbutton" type="submit" value="French" disabled />
            </form>
          </div>
        </div>
        <div>
          <div class="ycinline">
            <form action="/language/spanish">
              <input class="ycbutton" type="submit" value="Spanish" disabled />
            </form>
          </div>
          <div class="ycinline">
            <form action="/language/chinese">
              <input class="ycbutton" type="submit" value="Chinese" disabled />
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="ycblock1" class="col-md-6">
      <div class="ycblueblock">Test Yourself</div>
      <div class="ycmiddle">
        Confident in your language(s) knowledge? Go directly to the quiz!
      </div>
      <div class="ycmiddle">
        <div>
          <form action="/quiz/all">
            <input class="ycbutton" type="submit" value="Start Quiz" disabled />
          </form>

          <!-- <button class='ycbutton' href="/quiz/all">Start Quiz</button>-->
        </div>
      </div>
    </div>
  </div>

  <hr />

  <img class="ycsmallpic" src="/static/images/cn.webp" alt="flag" />
  <img class="ycsmallpic" src="/static/images/de.webp" alt="flag" />
  <img class="ycsmallpic" src="/static/images/fr.webp" alt="flag" />
  <img class="ycsmallpic" src="/static/images/gb.webp" alt="flag" />
  <img class="ycsmallpic" src="/static/images/jp.webp" alt="flag" />
  <img class="ycsmallpic" src="/static/images/kr.webp" alt="flag" />
  <img class="ycsmallpic" src="/static/images/lr.webp" alt="flag" />
  <img class="ycsmallpic" src="/static/images/dk.webp" alt="flag" />
  <img class="ycsmallpic" src="/static/images/no.webp" alt="flag" />
  <img class="ycsmallpic" src="/static/images/fi.webp" alt="flag" />
</div>
{% endblock %}
